@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins/Poppins-Light.ttf);
}


:root{

    --dark: #d31717;
    --lantern-yellow: #f0a63c;
    --monk-orange:  #d88c3a;
    --light: rgb(255, 247, 235);
}



* {box-sizing: border-box;}

html{

    background-color: var(--lantern-yellow);
}


body { 
  margin: 0;
}

#navbar {
    overflow: hidden;
    background-color: transparent;
    padding: 0 0;
    transition: 0.4s;
    position: fixed;
    /* min-width: 100%; */
    width: 100%;

 /* margin-left: 5vw; */


    z-index: 99;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;


    transition: all 0.1s ease;
    -moz-transition    : all 0.1s ease;
    -o-transition      : all 0.1s ease;
    -webkit-transition : all 0.1s ease;
    transition         : all 0.1s ease;
}



#navbar-right{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}




#navbar a {
    text-align: center;
    line-height:0;

    text-decoration: none;

    font-size: 1.1vw;
    font-family: poppins;
    font-weight: 100;
    font-style: normal;
    color: #ffffff;

    -moz-transition    : all 0.25s ease;
    -o-transition      : all 0.25s ease;
    -webkit-transition : all 0.25s ease;
    transition         : all 0.25s ease;
}


a:hover{
    transition: all ease-in-out 100ms;
    cursor: pointer;
}



#navbar-right>*{
 margin-inline: 3.8vw;
}

#link5{
    font-size: 1.25vw;
white-space: nowrap;
}

#navbar #logo {

    -moz-transition    : all 0.4s ease;
    -o-transition      : all 0.4s ease;
    -webkit-transition : all 0.4s ease;
    transition         : all 0.4s ease;
    margin-top: -0.4vw;

    font-family: "ivypresto-display", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2vw;
    color: #ffffff;   

white-space: nowrap;

}
/* 
#navbar a:hover {
  /* background-color: #ddd;
  color: black; 
} */

/* #navbar a.active {
  background-color: dodgerblue;
  color: white;
} */



/* @media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
} */





/* Mobile NAV */

.mobile-nav #myLinks{
  display: none;
}

.mobile-nav .icon{
    display: none;
}

#mobile-logo{
    display: none;
}












/*BODY*/

body{
    width: 100vw;
    height: auto;
    margin: 0;

    overflow-x: hidden;
    overflow-y: scroll;
}




/* Front Page */
.front-page{
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
}


.front-page .right-side{
    background-image: url(./images/original\ low\ res.jpg);
    background-position: left center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
}

.front-page .left-side{
    height: 100vh;
    width: 50%;
    /* background-color: #fb9b20; */
    text-align: center;
}


button{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.196);
    border-radius: 6px;
    border: 1px solid #ffffff;
    color: white;
    font-family: ivypresto-display, serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.25vw;
}

button:hover{
    background-color: rgb(253, 155, 26);
    transition: all 1s ease;

}


.front-page .left-side h3{
    color: white;
    /* font-size: calc(50px + 0.5vw); */
    font-size: 3.5vw;
    font-family: ivypresto-display, serif;
    font-weight: 500;
    font-style: normal;

    text-align: center;
    padding-top: 20vh;
    /* margin-inline: 1vh; */
}

.button-text{
    color: white;
    font-family: ivypresto-display, serif;
    font-weight: 100;
    font-size: 1.25vw;
    text-align: center;
}

.front-page .left-side h4{
    font-family: poppins;
    font-style: italic;
    font-weight: 100;
    color: #ffffff;
    text-align: center;
    font-size: 1.25vw;
}

.front-page .left-side h5{
 margin-top: 12vh;
}

/*SECOND PAGE*/
.second-page{

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--monk-orange);
}

.second-page .left-side{
    width: 50%;
    background-position: right center;
    background-size:cover;
    background-repeat: no-repeat;
}
.second-page .right-side{
    /* background-color: #fb9b20; */
    width: 50%;

    
}

.second-page .right-side h3{
    color: white;
    font-size: 4vw;
    font-family: ivypresto-display, serif;
    font-weight: 100;
    font-style: normal;

    text-align: center;
    padding-top: 5vh;
}

.second-page .right-side p{

    padding-inline: 5vw;
    color: white;
    font-family: poppins;
    font-weight: 100;
    font-size: 1.25vw;
    text-align: center;
}


/*PROFILE PAGE*/

.profile-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;

}




.profile-page .right-side{
    background-image: url(./images/brendan.png);
    background-position: right center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 35vw;
}

.profile-page .left-side{
    width: 65vw;


display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}




.profile-page .left-side h3{
    color: white;
    font-size: 4vw;
    font-family: ivypresto-display, serif;
    font-weight: 100;
    font-style: normal;

    text-align: center;
    /* padding-top: 1vh; */
}

.profile-page .left-side p{

    padding-inline: 8vw;
    color: white;
    font-family: poppins;
    font-weight: 0;
    font-size: 1.25vw;
    text-align: center;
}



/*FACES PAGE*/


.faces-page{

    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: row nowrap;

    background-color: var(--monk-orange);


}

.faces-page .left-side{
    width: 50vw;
    background-position: right center;

    background-size:contain;
    background-repeat: no-repeat;
}

.faces-page .left-side img{
 width: 50vw;
    padding-top: 7vh;
}
.faces-page .right-side{
    /* background-color: #fb9b20; */
    width: 50vw;
    color: white;
    font-family: poppins;
    font-weight: 100;

 
    
    font-size: 1.25vw;
    text-align: left;

    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:center;
    /* align-content: flex-start; */

    /* padding-top: 3vh; */
    padding-bottom: 5vh;
}


.faces-page .right-side h3{

    color: white;
    font-size: 4vw;
    font-family: ivypresto-display, serif;
    font-weight: 100;
    font-style: normal;
/* padding-left: 5vw; */
    /* text-align: left; */

}

.faces-page .right-side p{

    padding-inline: 2vw;

}



/*TESTIMONIALS PAGE*/

/* **** */
.testimonials-page{ 
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
}


.testimonials-page .right-side{
    background-image: url(./images/balloon.jpg);
    background-position: center center;
    background-size:cover;
    background-repeat:no-repeat;
    width: 50vw;

}

.testimonials-page .left-side{
    width: 50vw;
    color: white;
    font-family: poppins;
    font-weight: 0;
    font-size: 1.25vw;
    text-align: center;
    padding-top: 3vh;
}


.testimonials-page .left-side h3{
    color: white;
    font-size: 4vw;
    font-family: ivypresto-display, serif;
    font-weight: 100;
    font-style: normal;

    text-align: center;

}

.testimonials-page .left-side p{

    padding-inline: 3vw;

}










































































/* MEDIA */

@media only screen and (max-width: 767px) {




#navbar{
    display: none;
}

#mobile-logo{
    display:unset;

    /* margin-top: -0.4vw; */

    font-family: "ivypresto-display", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 6vw;
    color: #ffffff; 
    display: flex;
    align-items: center;
    justify-content: center;


white-space: nowrap;
}

/* MOBILE NAV */

/* Style the navigation menu */
.mobile-nav {
  overflow: hidden;
  background: transparent;
  position: absolute;
    right: 3vw;
    top: 5%;

}

/* Hide the links inside the navigation menu (except for logo/home) */
.mobile-nav #myLinks {
    display: none;

    border: none 1px white;
    cursor: pointer;
    border-radius: 25px;

}

/* Style navigation menu links */
.mobile-nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    border: solid 1px rgba(255, 255, 255, 0.509);
    border-radius: 5px;
    text-align: center;
    /* background-color: #fb9c20e7; */
    margin: 5px;
}

/* Style the hamburger menu */
.mobile-nav a.icon {
    background: transparent;
    display: block;
    position:fixed;
    right: 3vw;
    top: 0;
    border: none 1px white;
}

/* MOBILE NAV END*/








/* Front Page */
.front-page{
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
}




.front-page .right-side{
    background-image: url(./images/original\ low\ res.jpg);
    background-position: left center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.front-page .left-side{

    width: 100vw;
    height: 100vh;
    text-align: center;
}

.front-page .left-side h3{
    color: white;

    font-size: 7vw;
    font-family: ivypresto-display, serif;
    font-weight: 500;
    font-style: normal;

    text-align: center;

    /* padding-top: 20vh; */

}


.front-page .left-side h4{
    font-family: poppins;
    font-style: italic;
    font-weight: 100;
    color: #ffffff;
    text-align: center;
    font-size: 3vw;
}


.button-text{
    color: white;
    font-family: ivypresto-display, serif;
    font-weight: 100;
    font-size: 3vw;
    text-align: center;
    margin-top: 12vh;
}

button{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.196);
    border-radius: 6px;
    border: 1px solid #ffffff;
    color: white;
    font-family: ivypresto-display, serif;
    font-weight: 100;
    font-style: normal;
    font-size: 3.5vw;
}

button:hover{
    background-color: rgb(253, 155, 26);
    transition: all 1s ease;

}






/* SECOND PAGE */

.second-page{

    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column nowrap;

    background-color: var(--monk-orange);
}

.second-page .left-side{
    width: 100vw;    
    height: 100vh;
background-position: right center;
    background-size:cover;
    background-repeat: no-repeat;
}
.second-page .right-side{
    width: 100vw;
    height: 100vh;

}


.second-page .right-side h3{
    color: white;
    font-size: 7vw;
    font-family: ivypresto-display, serif;
    font-weight: 100;
    font-style: normal;

    text-align: center;
    padding-top: 5vh;
}

.second-page .right-side p{

    padding-inline: 5vw;
    color: white;
    font-family: poppins;
    font-weight: 100;
    font-size: 3vw;
    text-align: center;

}






/* PROFILE PAGE */
.profile-page{
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
}

.profile-page .left-side{
    width: 100vw;
    height: 100vh;
}
.profile-page .right-side{
    width: 100vw;
    height: 100vh;

}

.profile-page .left-side h3{
    color: white;
    font-size: 7vw;
    font-family: ivypresto-display, serif;
    font-weight: 100;
    font-style: normal;

    text-align: center;
    /* padding-top: 1vh; */
}

.profile-page .left-side p{
    padding-inline: 8vw;
    font-size: 3vw;
}






/* FACES PAGE */

.faces-page{

    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--monk-orange);

}

.faces-page .left-side{
    width: 100vw;

}
.faces-page .right-side{
    width: 100vw;
    height: 100vh;

    padding-inline: 3vw;
    text-align: center;
    /* display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; */
}

.faces-page .left-side img{
    width: 100vw;
    padding-top: 3vh;

}
.faces-page .right-side h3{

    text-align: center;
    font-size: 7vw;
    padding-inline: 0%;
    padding-top: 0;
}

.faces-page .right-side p{
    text-align: left;
    font-size: 3vw;
}







/* TESTIMONIALS PAGE */

.testimonials-page{
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column nowrap;


}

.testimonials-page .left-side{
    width: 100vw;
    height: auto;

    padding-top: 3vh;
    font-size: 3vw;
}
.testimonials-page .right-side{
    width: 100vw;
    height: 100vh;

}

.testimonials-page .left-side h3{
    font-size: 7vw;
}

.testimonials-page .left-side p{
    padding-inline: 10%;
    font-size: 3vw;
}


}